/* ========== About Page Styles ========== */
div.header {
	height: 300px;
	width: 100%;
	margin-bottom: 20px;
	background-color: #000;
	background-image: url(../img/stephslaton_22.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -105px center;
}

.lg-screen {
	display: none;
}

p {
	padding: 0 15px;
}

div.why-need-coach {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

div.steph-bio {
	background-color: #F2F2F2;
	padding: 40px 0 20px;
}

div.steph-bio div.row {
	width: 100%;
	padding: 0;
	margin: 0;
}

div.steph-bio div.steph-info {
	max-height: 600px;
	padding: 0;
}

p.about-steph-text {
	margin-bottom: 0;
}

div.background p {
	padding: 10px;
}

.fade-to-grey {
	display: none;
}

div.steph-bio div.container {
	background-color: #F2F2F2;

}

div.certs-small {
	background-color: #F2F2F2;
}

div.about-contact-me {
	padding: 30px 0 10px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 320px) {
	div.header {
		background-position: -80px center;
	}
}

@media screen and (min-width: 350px) {
	div.header {
		background-position: -90px center;
	}

	div.button {	
		margin-top: 40px;
	}
}

@media screen and (min-width: 370px) {
	div.header {
		background-position: center center;
	}
}

@media screen and (min-width: 450px) {
	p {	
		padding-right: 35px;
		padding-left: 35px;
	}

	footer p {
		padding-right: 0;
		padding-left: 0;
	}
}

@media screen and (min-width: 535px) {
	div.header {
		height: 350px;
	}

@media screen and (min-width: 550px) {
	p.sign-up {
		text-align: center;
	}
}

@media screen and (min-width: 576px) {
	div.certs-container h3 {
		font-size: 24px;
	}

	div.rrca-cert {	
		margin-top: 0;
	}

	div.steph-bio div.container {
    	max-width: none;
	}
}

@media screen and (min-width: 700px) {
	div.header {
		background-position: center -50px;
	}

	div.steph-bio {
		padding: 0 0 40px;
	}

	.sm-screen {
		display: none;
	}

	.lg-screen {
		display: block;
	}

	div.steph-bio div.steph-info {
		position: relative;
		min-height: 444px;
		margin: 0;
		background-image: url(../img/stephslaton_47.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -175px top;
	}

	img.about-img {
		display: none;
	}

	div.fade-to-grey {
		display: block;
		position: absolute;
		width: 70%;
		right: 0;
		height: 100%;
		background: linear-gradient(to left, #F2F2F2, #F2F2F2 70%, transparent);
	}

	div.fade-to-grey div.background {
		padding: 20px 25px 30px 160px;
	}

	div.about-certs {
		margin-top: 30px;
	}

	div.certs-container p {
		padding: 5px;
	}

	div.about-contact-me-background {
		background-color: #FFF;
		background-image: url(../img/phone1.jpeg);
		background-position: -100px center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	div.about-contact-fade {
		background-color: #FFF;
		background-color: rgba(255, 255, 255, .85);		
	}

	div.about-contact-me p {
		text-align: center;
	}

	div.about-contact-me {
		padding-top: 40px;
	}
}

@media screen and (min-width: 750px) {
	div.steph-bio div.steph-info {
		background-position: -195px top;
	}

	div.fade-to-grey {
		width: 70%;
		right: 0;
		background: linear-gradient(to left, #F2F2F2, #F2F2F2 70%, transparent);
	}

	div.fade-to-grey div.background {
		padding-left: 180px;
	}

	div.background h2 {
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	div.certs-container {
		padding: 0;
		margin: 0;
	}
}

@media screen and (min-width: 768px) {
	div.header {
		height: 400px;
		background-position: center -50px;
	}

	div.about-contact-me {
		font-size: 18px;
	}
}

@media screen and (min-width: 780px) {
	div.background h2 {
		margin: 0;
		padding: 0;
	}

	div .background {
		padding-top: 0;
	}

	p.steph-text {
		margin: 0;
	}

	div.why-need-coach, div.steph-bio p {
		font-size: 18px;
	}
}

@media screen and (min-width: 800px) {
	div.background h2 {
		margin-top: 25px;
	}

	div.steph-bio div.steph-info {
		background-position: -205px top;
	}

	div.certs-container h3 {
		font-size: 26px;
	}
}

@media screen and (min-width: 800px) {
	div.header {
		background-position: center -75px;
	}
}

@media screen and (min-width: 820px) {
	div.steph-bio div.steph-info {
		background-position: -225px top;
	}

	div.certs-container h3 {
		font-size: 28px;
	}
}

@media screen and (min-width: 850px) {
	div.steph-bio div.steph-info {
		background-position: -245px top;
	}

	div.fade-to-grey div.background {
		padding-left: 200px;
	}
}

@media screen and (min-width: 900px) {
	div.header {
		background-position: center -75px;
	}

	div.steph-bio div.coach-steph {
		height: 500px;
	}

	div.fade-to-grey div.background {
		padding-left: 220px;
	}

	div.background h2 {
		margin-top: 35px;
	}

	div.certs-container h3 {
		font-size: 30px;
	}

	div.background p {
		font-size: 18px;
	}
}

@media screen and (min-width: 950px) {
	div.steph-bio div.steph-info {
		background-position: -265px top;
	}

	div.background h2 {
		margin-top: 50px;
	}
}

@media screen and (min-width: 992px) {
	div.steph-bio {
		padding: 0 0 40px;

	}

	div.steph-bio div.steph-info {
		margin: 0;
	}

	div.about-contact-me-background {
		background-position: 150px center
	}
}

@media screen and (min-width: 1000px) {
	div.header {
		background-position: center -85px;
	}

	div.steph-bio div.steph-info {
		background-position: -285px top;
	}

	div.background h2 {
		margin-top: 50px;
	}

	div.fade-to-grey div.background {
		padding-left: 240px;
	}

	div.certs-container h3 {
		font-size: 32px;
	}
}

@media screen and (min-width: 1050px) {
	div.header {
		background-position: center -95px;
	}


	div.background h2 {
		font-size: 40px;
		margin-top: 30px;
	}

	div.background p {
		font-size: 20px;
	}
}

@media screen and (min-width: 1060px) {
	div.steph-bio div.steph-info {
		height: 600px;
		background-position: -250px top;
	}

	div.coach-steph {
		height: 600px !important;
	}

	div.steph-bio div.steph-info {
		background-position: -305px top;
	}

	div.background h2 {
		margin-top: 70px;
	}

	div.fade-to-grey div.background {
		padding-left: 255px;
	}
}

@media screen and (min-width: 1100px) {
	div.header {
		background-position: center -100px;
	}

	div.steph-bio div.steph-info {
		background-position: -325px top;
	}

	div.background h2 {
		margin-top: 75px;
	}

	div.fade-to-grey div.background {
		padding-left: 265px;
	}

	div.certs-container .row {
		margin-top: 200px;
	}
}

@media screen and (min-width: 1150px) {
	div.header {
		background-position: center -105px;
	}

	div.steph-bio div.steph-info {
		background-position: -300px top;
	}

	div.fade-to-grey {
		width: 65%;
		background: linear-gradient(to left, #F2F2F2, #F2F2F2 69%, transparent);
	}

	div.background h2 {
		margin-top: 70px;
	}

	div.fade-to-grey div.background {
		padding-left: 270px;
	}
}

@media screen and (min-width: 1200px) {
	div.header {
		background-position: center -110px;
	}

	div.steph-bio div.steph-info {
		height: 650px;
		background-position: -320px -35px;
	}

	div.coach-steph {
		height: 650px !important;
	}

	div.fade-to-grey div.background {
		padding-left: 35%;
	}
}

@media screen and (min-width: 1250px) {
	div.header {
		background-position: center -115px;
	}
}

@media screen and (min-width: 1300px) {
	div.header {
		height: 500px;
		background-position: center -120px;
	}
}

@media screen and (min-width: 1350px) {
	div.header {
		background-position: center -125px;
	}
}

@media screen and (min-width: 1400px) {
	div.header {
		background-position: center -130px;
	}

	div.steph-bio div.steph-info {
		height: 650px;
		background-position: -390px -35px;
	}

	div.coach-steph {
		height: 650px !important;
	}

	div.fade-to-grey div.background {
		padding-left: 35%;
	}
}

@media screen and (min-width: 1500px) {
	div.background h2 {
		margin-top: 90px;
	}
}