/* ========== Nav Bar ========== */
nav.navigation {
	background-color: #414141;
	padding: 0;
	text-align: center;
	position: relative;
	height: 184px;
}

div.nav-links {
	width: 100%;
	background-color: #FF6A5C;
	padding: 8px 0;
	position: absolute;
	bottom: 0;
}

.burger-menu-border {
	display: inline-block;
	border: 2px solid white;
	border-radius: 5px;
	padding: 4px 8px;
	box-shadow: 1px 1px 3px black;
	cursor: pointer;
}

.burger-menu-border:hover {
	box-shadow: 2px 2px 3px black;
}

.burger-menu-border:active {
	box-shadow: 1px 1px 3px black;
}

nav i.fa-bars {
	display: block;
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

div.nav-links ul {
	padding: 10px 0 15px;
	margin: 0;
	background-color: #FF6A5C;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	display: none;
}

div.nav-links li {
	list-style-type: none;
	padding: 2px 0;
}

div.nav-links a {
	text-decoration: none;
	color: white;
	font-family: Abel;
	font-size: 1.4em;
	text-shadow: 1px 1px 3px black;
}

div.nav-links a:hover {
	color: white;
	text-shadow: 2px 2px 3px black;
}

div.nav-links a:active {
	text-shadow: 1px 1px 3px black;
}


/* ========== Media Queries ========== */

@media screen and (min-width: 318px) {
	nav img {
		width: 300px !important;
	}
}