/*
Matte - #414141
Fresh - #CCDFCB
Watermelon - #FF6A5C
Teal - #056571
*/


/* ========== Main Section ========== */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

h1, h2, h3 {
	text-align: center;
	font-family: Abel;
}

.margin-top-10px {
	margin-top: 10px;
}

.margin-top-20px {
	margin-top: 20px;
}

.margin-top-26px {
	margin-top: 26px;
}

.margin-top-30px {
	margin-top: 30px;
}

.margin-top-40px {
	margin-top: 40px;
}

.margin-top-60px {
	margin-top: 60px;
}

.container-fluid {
	background-color: white;
	padding: 0;
}

.desktop {
	display: none;
}

div.button {
	width: 100%;
	padding: 0 15px;
}

div.button a {
	text-decoration: none;
}

div.learn-more {
	max-width: 300px;
	padding-top: 6px;
	height: 40px;
	background-color: #414141;
	border: 1px solid #414141;
	color: #FFF;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

div.learn-more:hover, div.learn-more:active {
	cursor: pointer;
	background-color: #414141;
	color: #FFF;
}

.thematic-break {
	text-align: center;
	position: relative;
	width: 100%;
}

.thematic-break-line {
	position: absolute;
	left: 10%;
	top: 20px;
	width: 80%;
	border-bottom: 1px solid black;
}

.thematic-break-background {
	position: relative;
	display: inline-block;
	background-color: transparent;
	padding: 0 10px;
	z-index: 1;
}

.thematic-break img {
	width: 50px;
}


/* ========== Home Page Header ========== */
div.header {
	height: 300px;
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 20px;
	background-color: #000;
	background-image: url(../img/stephslaton_41.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -105px center;
}

header.homepage-header {
	width: 100%;
	padding: 0 15px;
}

header.homepage-header h1 {
	font-weight: bold;
	font-size: 24px;
}

header.homepage-header h2 {
	font-size: 18px;
	margin-bottom: 15px;
}

header em {
	text-transform: uppercase;
}

form.header-form {
	position: relative;
	margin-bottom: 40px;
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

input.newsletterEmail {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #414141;
	height: 35px;
	padding-left: 10px;
	font-size: 14px;
}

input.newsletterSubmit {
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	height: 35px;
	background-color: #414141;
	color: white;
	padding: 0 15px;
}

input.newsletterSubmit:hover {
	cursor: pointer;
}


/* ========== Home Page Plant Strong Running ========== */
div.why-plant-strong {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #F2F2F2;
}

div.why-plant-strong h2 {
	margin: 0;
}

div.why-plant-strong p {
	margin-bottom: 0;
	padding: 0 15px;
}


/* ========== Home Page Coach Stephanie ========== */
div.coach-steph  {
	padding-top: 30px;	
}

div.coach-steph p {
	margin-bottom: 0;
	padding: 0 15px;	
}


/* ========== Home Page Testimonials ========== */
div.testimonials {
	padding: 20px 15px;
	background-color: #F2F2F2;
}

p.testimonial {
	font-style: italic;
}

p.test-name {
	text-transform: uppercase;
	font-weight: 600;
}

hr.test-hr {
	border-bottom: 1px solid #414141;
	width: 90%;
}


/* ========== Home Page Coaching Programs ========== */
.homepage-programs p {
	padding: 0 15px;
}

.swiper-slide {
	border: 1px solid grey;
}

.swiper-container p {
	padding: 5px 0;
	text-transform: uppercase;
	margin-bottom: 0;
}

.full-width {
	width: 100%;
}

/* ========== Home Page IIN ========== */
div.homepage-iin {
	background-color: #F2F2F2;
	margin-top: 40px;
	padding: 25px 15px 40px;
}

img.img-center {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

img.iin-img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}


/* ========== About.html ======== 
.about-img {
	float: left;
	margin: 20px 20px 20px 0
}


/* ========== Style Unique to coaching_programs.html ========== */
.coaching-program-title {
	text-align: left;
}

.coaching-program-text {
	margin-top: 0;
}


/* ========== Media Queries ========== */
@media screen and (min-width: 305px) {
	div.header {
		height: 300px;
		background-position: center center;
	}
}

@media screen and (min-width: 350px) {
	form.header-form {
		margin-top: 40px;
		margin-bottom: 45px;
	}

	header.homepage-header h1 {
		font-size: 32px;
	}

	header.homepage-header h2 {
		font-size: 24px;
	}

	p.first-text {
		margin-top: 20px;
	}

	div.button {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	div.why-plant-strong h2, div.coach-steph h2 {
		margin: 10px 0 25px;
	}

	div.testimonials {
		padding: 45px 35px;
		margin-top: 55px;
		margin-bottom: 35px;
	}

	div.homepage-programs h2 {
		margin: 15px 0 30px;
	}

	div.homepage-programs div.button {
		margin-bottom: 50px;
	}

	div.homepage-iin h2 {
		margin-top: 15px;
	}
}

@media screen and (min-width: 450px) {
	header.homepage-header h1 {
		font-size: 36px;
	}

	header.homepage-header h2 {
		font-size: 28px;
	}

	p.first-text {
		margin-top: 30px;
	}

	header.homepage-header p, div.why-plant-strong p, div.coach-steph p, div.homepage-programs p, div.homepage-iin p {
		padding-right: 35px;
		padding-left: 35px;
	}

	div.swiper-slide p {
		padding: 5px 0;
	}
}

@media screen and (min-width: 535px) {
	div.header {
		height: 400px;
		background-position: center center;
	}

	header.homepage-header h1 {
		font-size: 42px;
	}

	header.homepage-header h2 {
		font-size: 34px;
	}	
}
