/*
Matte - #414141
Fresh - #CCDFCB
Watermelon - #FF6A5C
Teal - #056571
*/

/* ========== Nav Bar ========== */
nav.navigation {
	background-color: #414141;
	padding: 0;
}

nav.navigation img {
	display: block;
	margin: 0 auto;
}

div.nav-links {
	width: 100%;
	background-color: #FF6A5C;
}

div.nav-links ul {
	text-align: center;
	padding: 0;
	margin: 0;
}

div.nav-links li {
	list-style-type: none;
	display: inline-block;
	margin: 5px 4%;
}

div.nav-links a {
	text-decoration: none;
	color: white;
	font-family: Abel;
	font-size: 1.4em;
	text-shadow: 1px 1px 3px black;
}

div.nav-links a:hover {
	color: white;
	text-shadow: 2px 2px 5px black;
}

/* ========== Main Section ========== */

section {
	margin-left: 0;
	margin-right: 0;
}

a {
	text-decoration: none !important;
	color: black;
}

a:hover {
	color: black;
}

.container-fluid {
	background-color: white;
	padding: 0;
}

div.header {
	margin: 0;
	padding-top: 90px;
	background-image: url(../img/1.jpg);
	background-position: -8px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	color: white;
	text-shadow: 1px 1px 1px black;
}


h1, h2, h3 {
	text-align: center;
	font-family: Abel;
}

.note {
	font-size: .75em;
}

section {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding:  40px ;
}

.thematic-break {
	text-align: center;
	position: relative;
	width: 100%;
}

.thematic-break-line {
	position: absolute;
	left: 10%;
	top: 20px;
	width: 80%;
	border-bottom: 1px solid black;
}

.thematic-break-img-background {
	position: relative;
	display: inline-block;
	background-color: white;
	padding: 0 10px;
	z-index: 1;
}

.thematic-break img {
	width: 50px;
}

.why-ps-img {
	width: 100%;
	height: auto;
}

.margin-top-20px {
	margin-top: 20px;
}

.margin-top-26px {
	margin-top: 26px;
}

.margin-top-30px {
	margin-top: 30px;
}

.margin-top-40px {
	margin-top: 40px;
}

.margin-top-60px {
	margin-top: 60px;
}

div.button {
	width: 100%;
}

div.button a {
	text-decoration: none;
}

button.learn-more {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	background-color: #FF6A5C;
	border-color: #FF6A5C;
	font-family: Abel;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px black;
}

button.learn-more:hover, button.learn-more:active {
	cursor: pointer;
	background-color: #E56155 !important;
	border-color: #E56155 !important;
}

img.img-center {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

img.iin-img {
	width: 100%;

	height: auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

figure {
	background-color: white;
	border-radius: 5px;
}

figcaption {
	text-align: center;
	color: black;
	font-size: .75em;
}


/* ========== About.html ======== */
.about-img {
	float: left;
	margin: 20px 20px 20px 0
}


/* ========== Footer ========== */
.footer-bgcolor {
	background-color: #414141;
	font-size: 1em;
	font-family: Abel;
}

.footer {
	padding-top: 20px;
	text-align: center;
	line-height: .35em;
}

.footer a, .footer p {
	text-decoration: none;
	color: white;
}

.footer .row {
	margin-left: 0;
	margin-right: 0;
}
.social-media {
	padding: 0;
}

.social-media li {
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0 15px;
}

i {
	color: white;
}


/* ========== Style Unique to coaching_programs.html ========== */
.coaching-program-title {
	text-align: left;
}

.coaching-program-text {
	margin-top: 0;
}


/* ========== Media Queries ========== */


/* ========== IMG Changes ========== */
@media screen and (max-width: 991px) {
	.display-none {
		display: none;
	}

	.margin-top-added-40px {
		margin-top: 40px;
	}
}

@media screen and (max-width: 575px) {
	.margin-top-added-40px-too {
		margin-top: 40px;
	}
}


/* ========== H1, H2 Size Changes ========== */
@media screen and (max-width: 474px) {
	h2.header-subheading {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 435px) {
	h1 {
		font-size: 2em;
	}

	h2.header-subheading {
		font-size: 1.2em;
	}

	h2 {
	font-size: 1.5em;
	}
}

@media screen and (max-width: 357px) {
	h1 {
		font-size: 1.75em;
	}
}

@media screen and (max-width: 318px) {
	h1 {
		font-size: 1.6em;
	}

	h2.header-subheading {
		font-size: 1em;
	}
}


/* ========== Social Media Icon Changes ========== */
@media screen and (max-width: 835px) {
	.social-media li {
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
	}
}

@media screen and (max-width: 595px) {
	.social-media li {
	list-style-type: none;
	display: inline-block;
	margin: 0 2px;
	}
}

@media screen and (max-width: 575px) {
	.social-media li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
	}
}
